$screenValue: 14.4;
@function size($value) {
  $vwValue: (1 * $value / $screenValue) + vw;
  @return $vwValue;
}

.logo-position {
  position: fixed;
  left: 2rem;
  top: 0.5rem;
  padding: 0;
  margin: 0;
}
.close-btn {
  position: fixed;
  right: 2rem;
  top: 0.5rem;
  padding: 0;
  margin: 0;
}
input {
  height: 25px;
}

label {
  font-size: 14px;
}
.text-area {
  max-height: 65px;
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .close-btn {
    position: fixed;
    right: 4rem;
    top: 0.5rem;
    padding: 0;
    margin: 0;
  }
  .contact-card {
    margin-top: size(169);
  }
  .card-heading {
    font-size: size(50);
    line-height: size(50);
  }

  .head-quarter {
    font-size: size(38);
  }
  .location {
    font-size: size(24);
    line-height: size(36);
    margin-top: size(36);
  }
  .contact-form-height {
    height: 550px;
    margin-top: 100px;
    margin-bottom: 65px;
  }
  .lets-talk {
    padding-top: 20px;
    font-size: 30px;
    line-height: 24px;
  }
  .lets-talk-paragraph {
    font-size: 16px;
    line-height: 30px;
  }
  label {
    font-size: 16px;
    line-height: 24px;
  }
  input {
    height: 32px;
  }
  .text-area {
    max-height: 100px;
  }

  .form-btn-parent {
    margin-top: 20px;
  }

  .form-btn {
    font-size: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media only screen and (min-width: 1441px) {
  .close-btn {
    position: fixed;
    right: 7.5rem;
    top: 1.5rem;
    padding: 0;
    margin: 0;
  }
  .contact-card {
    margin-top: size(69);
  }
  .card-heading {
    font-size: size(50);
  }
  .head-quarter {
    font-size: size(38);
    line-height: size(57);
  }
  .location {
    font-size: size(24);
    line-height: size(36);
    margin-top: size(36);
  }
  .contact-form-height {
    height: size(580);
    padding: size(40);
    margin-top: size(40);
    margin-bottom: size(5);
  }
  label {
    font-size: 18px;
  }
  input {
    height: size(30);
  }
  .text-area {
    max-height: size(130);
  }
  .form-btn-parent {
    margin-top: 20px;
    padding-bottom: 32px;
  }
  .lets-talk {
    padding-top: 0;
    font-size: size(18);
    line-height: size(28);
  }
  .lets-talk-paragraph {
    font-size: size(18);
    line-height: size(30);
  }
  label {
    font-size: size(18);
    line-height: size(30);
  }
}
