.max-width {
  max-width: 556px;
}

.max-w {
  max-width: 525px;
}
.col-opg-marketing {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(33.333% - 70px);
  }
}
.col-1-3 {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(50% - 35px);
  }
}
.col-1 {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(45% - 45px);
  }
}
.col-2 {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(55% - 45px);
  }
}

.col-1-2 {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(45% - 80px);
  }
}

.col-2-2 {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(55% - 80px);
  }
}

.contact-form-col {
  width: 100%;
  @media (min-width: 768px) {
    width: calc(50% - 16px);
  }
}

.li-activity {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 32px;
  }
}

.overlay-container {
  position: relative;
  &:hover {
    .overlay {
      opacity: 1;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgba(51, 51, 51, 0.26);
    .text {
      @media (min-width: 768px) {
        padding: 38px 27px;
      }
      position: absolute;
      border: 1px solid #fff;
      background-color: #fff;
      border-radius: 50%;
      padding: 28px 17px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }
}

.big-text::after {
  content: "";
  background-image: url("../assets/img/designer.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  height: 312px;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
  top: -25px;
  @media (min-width: 768px) {
    background-size: contain;
    top: -80px;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.clients-imgs {
  width: 80%;
  @media (min-width: 768px) {
    width: 100%;
  }
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  height: 100%;
  background-color: #000000;
  background: url("../assets//img/contact-pic.jpg");
  background-size: cover;
  background-position: center;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  margin: 0 3px;
  @media only screen and (min-width: 768px) {
    margin: 0 10px;
  }
}
.slick-slide > div {
  height: 100%;
}

.slick-slide > div {
  position: relative;
  padding-bottom: 8rem;
  border: transparent;
  border-radius: 13px;
  background-color: white;
  @media only screen and (min-width: 768px) {
    border-radius: 24px;
  }
}

.clients-imgs {
  width: 49px;
  @media only screen and (min-width: 768px) {
    width: 150px;
  }
}

.slick-arrow.slick-prev {
  top: 100%;
  left: 0%;
}
.slick-arrow.slick-next {
  top: 100%;
  right: 0%;
}

.slick-list {
  margin: 0 -10px;
}
